
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    display: flex;
    background: url('../images/vecteezy_blue-abstract-background-modern-design_.jpg');
    background-size: cover;
    height: 100vh;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3; /* L'arrière-plan est en dessous du formulaire */
}

#formCreerTache {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

#formCreerTache.hidden {
    display: none;
}

#formCreerTache.show {
    opacity: 1;
    transform: translateY(0);
}


#conteneur.hidden {
    display: none;
    
}

#conteneur.show {
    opacity: 1;
    transform: translateY(0);
}

.container {
    max-width: 500px;
    min-width: 500px;
    max-height: 800px;
    margin: auto;
    background: rgba(218, 241, 251, 0.8); /* 0.8 correspond à l'opacité, tu peux ajuster ce chiffre entre 0 (totalement transparent) et 1 (totalement opaque) */
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(148, 140, 163, 0.5);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1.0s ease-out, transform 1.0s ease-out;
    z-index: 1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
    align-items: center;
}

.error-message i {
    margin-right: 5px;
    font-size: 12px;
}

.error {
    border-color: red;
}

.form-group {
    margin-bottom: 35px;
}

.form-group input.error {
    border: 2px solid red;
}

.form-group .error-message {
    color: red;
    font-size: 12px;
    display: none;
}

#requis {
    color: red;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 98%;
    padding: 8px;
    box-sizing: border-box;
}

.error {
    border: 2px solid red;
}

.form-bouttons {
    text-align: center;
    position: relative;
    max-width: 490px;
    height: 50px;
}

#annuler:active, #soumettre:active {
    background-color: #555; 
}

#annuler, #soumettre {
    position: absolute;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, width 0.4s ease, border-radius 0.9s;
    width: 120px;
}

#annuler {
    background-color: #dc3545;
    left: 0;
}

#annuler:hover {
    width: 160px;
    border-radius: 20px;
}

#soumettre {
    background-color: #28a745;
    right: 0;
}

#soumettre:hover {
    width: 160px;
    border-radius: 20px;
}

#confirmYes {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 2s, width 0.4s ease, transform 0.3s, border-radius 0.9s;
    width: 60px;
}

#confirmNo {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 2s, width 0.4s ease, transform 0.3s, border-radius 0.9s;
    width: 60px;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #3b9febd5;
    transition: background-color 0.3s ease, width 0.4s ease, border-radius 0.9s;
    width: 90px;
    margin-top: 100px;
    z-index: 8;
}

#logo-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px; /* Ajout d'un espace sous le logo */
}

.logo-image {
    max-width: 400px; /* Augmenter la taille du logo */
    height: auto;
}

.logo-image:hover {
    cursor: pointer;
}