body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    display: flex;
    background: url('../images/vecteezy_blue-abstract-background-modern-design_.jpg');
    background-size: cover;
    height: 100vh;
}

.card{
    margin-top: 20px;
}

#contenant{
    margin:auto;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}


#formCreerMembre {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

#formCreerMembre.hidden {
    display: none;
}

#formCreerMembre.show {
    opacity: 1;
    transform: translateY(0);
} 


#conteneur.hidden {
    display: none;
    
}

#conteneur.show {
    opacity: 1;
    transform: translateY(0);
}

.container {
    max-width: 500px;
    min-width: 500px;
    max-height: 800px;
    margin: auto;
    background: rgba(218, 241, 251, 0.8); /* 0.8 correspond à l'opacité, tu peux ajuster ce chiffre entre 0 (totalement transparent) et 1 (totalement opaque) */
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(148, 140, 163, 0.5);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1.0s ease-out, transform 1.0s ease-out;
    z-index: 1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
    align-items: center;
}

.error-message i {
    margin-right: 5px;
    font-size: 12px;
}

.error {
    border-color: red;
}

.form-group {
    margin-bottom: 35px;
}

.form-group input.error {
    border: 2px solid red;
}

.form-group .error-message {
    color: red;
    font-size: 12px;
    display: none;
}

#requis {
    color: red;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 98%;
    padding: 8px;
    box-sizing: border-box;
}

.error {
    border: 2px solid red;
}

.form-bouttons {
    text-align: center;
    position: relative;
    max-width: 490px;
    height: 50px;
}


#annuler:active, #soumettre:active {
    background-color: #555; 
}

#annuler, #soumettre {
    position: absolute;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, width 0.4s ease, border-radius 0.9s;
    width: 120px;
}


#annuler {
    background-color: #dc3545;
    left: 0;
}

#annuler:hover {
    width: 160px;
    border-radius: 20px;
}

#soumettre {
    background-color: #28a745;
    right: 0;
}

#soumettre:hover {
    width: 160px;
    border-radius: 20px;
}

#ficheContainer {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 75%;
    max-width: 200px;
    min-width: 300px;
    min-height: 300px;
    height: auto;
    z-index: 2;
    margin-bottom: 30px;
}

#profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blur-overlay {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 5;
}


#confirmYes {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 2s, width 0.4s ease, transform 0.3s, border-radius 0.9s;
    width: 60px;
}

#confirmNo {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 2s, width 0.4s ease, transform 0.3s, border-radius 0.9s;
    width: 60px;
}

#confirmNo:hover {
    width: 80px;
    border-radius: 20px;
}

.buttonsConfirmation.clicked {
    background-color: #555; 
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #3b9febd5;
    transition: background-color 0.3s ease, width 0.4s ease, border-radius 0.9s;
    width: 90px;
    margin-top: 100px;
    z-index: 8;
}

.button:hover {
    background-color: #4dca77;
}

#confirmYes:hover {
    width: 80px;
    border-radius: 20px;
}


.buttonsConfirmation {
    display: flex;
    justify-content: space-around;
}

#confirmationContainer {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 300px;
    min-height: 50px;
    transform: translate(-50%, 150%);
    font-weight: bold;
}

.categorie{
    font-weight: bold;
}

#logo-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px; /* Ajout d'un espace sous le logo */
}

.logo-image {
    max-width: 400px; /* Augmenter la taille du logo */
    height: auto;
}

.logo-image:hover {
    cursor: pointer;
}