body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-width: 800px;
}

.progress-bar-container {
    text-align: center;
    margin-bottom: 20px;
}

.progress-bar-container .progress-bar-background {
    height: 10px;
    width: 100%;
    background-color: #efefef;
    border-radius: 5px;
}

.progress-bar-container .progress-bar {
    height: 10px;
    width: 70%;
    background-color: #76c7c0;
    border-radius: 5px;
}

.progress-text {
    display: block;
    margin-top: 5px;
    color: #333;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    background-color: #EDEBE9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; /* Changez column à row */
}


.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    background-color: #CFCFCF;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
.sidebar ul li a:hover {
    background-color: #A3B7C4;
}

.project-item{
    display: flex;
    flex-wrap: wrap;

}

.project-link {
    font-weight: bold;
}

.dropdown-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 1s ease; /* Prolonge la durée à 1s */
    margin-left: auto; /* Aligne à droite */
}

.dropdown-button .arrow {
    display: inline-block;
    transform: rotate(90deg); /* Initialement à droite */
    transition: transform 1s ease; /* Assure une rotation fluide et prolongée */
}


.dropdown-button.rotate .arrow {
    transform: rotate(0deg);
}

.submenu {
    display: none;
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
    width: 100%;
}

.submenu li {
    margin-top: 10px;
    width: 100%;
}

.submenu li a {
    padding: 5px;
    background-color: #EDEBE9;
    border-radius: 3px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.submenu li a:hover {
    background-color: #D3D3D3;
}

.content {
    margin-left: 230px;
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #3b9feb;
    padding: 10px;
    min-width: 400px;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.content-complet {
    display: flex;
    justify-content: center;
}

.main-content {
    margin-top: 20px;
    min-width: 400px;
    max-width: 800px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modify-btn, .delete-btn {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #3b9febd5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modify-btn:hover {
    background-color: #1e7ec8;
}

.delete-btn:hover {
    background-color: #c81e26;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #A3B7C4;
}

.arrow {
    float: right;
    transition: transform 0.5s;
}

.welcome-message {
    text-align: center;
    margin-top: 20%;
    color: #333;
}

#description-edit, #name-edit {
    width: 100%;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    padding: 5px;
}

#description-edit {
    min-height: 100px;
}

.save-btn {
    padding: 5px 10px;
    background-color: #4dca77;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    min-width: 100px;
}

.save-btn:hover {
    background-color: #5da7a3;
}

#progress-input {
    width: 50px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    padding: 5px;
}

.status-edit {
    width: 100%;
    padding: 5px;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, width 0.4s ease, border-radius 0.9s;
    width: 90px;
}

#create-project-btn {
    padding: 5px 10px;
    background-color: #3b9febd5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#create-project-btn:hover {
    background-color: #1e7ec8;
}

#logo-container {
    text-align: center;
    margin-bottom: 20px; /* Ajout d'un espace sous le logo */
}

.logo-image {
    max-width: 400px; /* Augmenter la taille du logo */
    height: auto;
}

.logo-image:hover {
   cursor: pointer;
}

.show{
    max-width: 100px;
}

.icon {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.profile-icon:hover {
    cursor: pointer;
}

.project-item{
    background-color: #cae3ff; /* Orange clair */
}

/* Couleurs pour les sous-options du projet */
.submenu .member-link {
    background-color: #FFA07A; /* Orange clair */
}

.submenu .member-link:hover {
    background-color: #FF7F50; /* Corail */
}

.submenu .task-link {
    background-color: #98FB98; /* Vert pâle */
}

.submenu .task-link:hover {
    background-color: #32CD32; /* Vert lime */
}

.submenu .report-link {
    background-color: #ADD8E6; /* Bleu clair */
}

.submenu .report-link:hover {
    background-color: #6495ED; /* Bleu intense */
}
