body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-width: 800px;
}

.content {
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #3b9febd5;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    min-width: 400px;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.content-complet {
    display: flex;
    justify-content: center;
    margin-top: 60px; /* Adjust to account for fixed top bar */
}

.main-content {
    margin-top: 20px;
    min-width: 400px;
    max-width: 800px;
}

.welcome-message {
    text-align: center;
    margin-top: 20%;
    color: #333;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-content {
    font-size: 16px;
    color: #555;
    height: 100px;
    overflow-y: auto;
}

.card-info {
    font-size: 16px;
    color: #777;
    margin-top: 10px;
}

.card-tasks {
    font-size: 16px;
    color: #777;
    margin-top: 10px;
}

.task-title {
    font-weight: bold;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #3b9feb;
    transition: background-color 0.3s ease, width 0.4s ease, border-radius 0.9s;
    width: 100px;
}

#logo-container {
    text-align: center;
    margin-bottom: 20px; /* Ajout d'un espace sous le logo */
}

.logo-image {
    max-width: 400px; /* Augmenter la taille du logo */
    height: auto;
}

.logo-image:hover {
    cursor: pointer;
}

#back-button {
    margin-top: 20px;
}

#back-button:hover {
    background-color: #4dca77;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}
