/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-width: 800px;
}

.background-page {
    background-color: #ffffff;
    padding: 1.5rem;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}

.icon-section {
    background-color: #1d4ed8;
    max-width: 420px;
    padding: 1rem;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.top-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #3b9feb;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    min-width: 400px;
    margin-bottom: 40px;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.manager-icon {
    width: 80px;
    height: 80px;
    border-radius: 9px;
    object-fit: cover;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personal-info {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
    max-width: 400px;
}

.logo-image {
    max-width: 400px;
    height: auto;
    display: block;
    margin: 1rem auto;
    cursor: pointer;
}

.back-button,
.logout-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #3b9febd5;
    transition: background-color 0.3s ease, width 0.4s ease, border-radius 0.9s;
    width: 100px;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #4dca77;
}

.logout-button:hover {
    background-color: #ff0000a0;
}

.conteneur-bouttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 400px;
    height: 50px;
}

.icon {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.profile-icon:hover {
    cursor: pointer;
}