/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-width: 800px;
}

.content {
    padding: 20px;
    margin-top: 50px;
}

.top-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #3b9feb;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    min-width: 400px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 20px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.content-complet {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-content {
    min-width: 400px;
    max-width: 800px;
}

/* Tâches Page Specific Styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    max-width: 400px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-top: 0;
    color: #333;
}

.card p {
    color: #555;
    font-size: 0.9em;
    margin: 5px 0;
}

.card .description-text,
.card .description-edit{
    height: 100px;
    max-width: 280px;
    min-width: 180px;
    min-height: 100px;
    max-height: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    overflow-y: auto; /* Pour permettre le défilement vertical */
    overflow-x: hidden; /* Pour empêcher le défilement horizontal */
    word-wrap: break-word; 
}

.card .description-text {
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f9f9f9;
    border: none;
    white-space: pre-wrap; /* Pour conserver les sauts de ligne */
    word-wrap: break-word; /* Pour forcer le saut de ligne automatique */
}

.card .description-edit,
.card .status-edit,
.card .member-edit,
.card .deadline-edit {
    display: none; /* Masquer initialement */
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, sans-serif;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #3b9febd5;
    transition: background-color 0.3s ease, width 0.4s ease, border-radius 0.9s;
    width: 100px;
}

#cancel-delete-btn:hover{
    background-color: #1e7ec8;
}

.modify-btn:hover{
    background-color: #1e7ec8;
}

.save-btn:hover {
    background-color: #4dca77;
}

.delete-btn:hover {
    background-color: #a11b1e;
}

#back-button {
    margin-top: 20px;
}

#back-button:hover {
    background-color: #4dca77;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#create-tache-btn {
    padding: 5px 10px;
    background-color: #3b9febd5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

#create-tache-btn:hover {
    background-color: #4dca77;
}

#logo-container {
    text-align: center;
    margin-bottom: 20px; /* Ajout d'un espace sous le logo */
}

.logo-image {
    max-width: 400px; /* Augmenter la taille du logo */
    height: auto;
}

.logo-image:hover {
    cursor: pointer;
}


.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.profile-icon:hover {
    cursor: pointer;
}

/* Styles pour le titre modifiable */
.title-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-edit {
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Masquer initialement */
}
